<mat-card>
  <h2>Iniciar Sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        El correo es requerido
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Ingresa un correo válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        La contraseña es requerida
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Ingresar
    </button>
  </form>
</mat-card>
