<div class="toolbar">
  <button mat-raised-button color="primary" (click)="abrirDialogo()">
    Añadir Pago
  </button>

   <!-- Buscador -->
  <mat-form-field appearance="outline">
    <mat-label>Buscar proveedor</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Proveedor X">
  </mat-form-field>

  <!-- Botones de filtro -->
  <div class="filters">
    <button mat-raised-button color="primary" (click)="filtrarPorMoneda('TODOS')">Todos</button>
    <button mat-raised-button color="accent" (click)="filtrarPorMoneda('USD')">USD</button>
    <button mat-raised-button color="warn" (click)="filtrarPorMoneda('BOB')">BOB</button>
  </div>
  
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2 full-width-table">

  <!-- Fecha -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let row"> {{ row.fecha | date:'short' }} </td>
  </ng-container>

  <!-- Proveedor -->
  <!-- Proveedor -->
<ng-container matColumnDef="proveedorNombre">
  <th mat-header-cell *matHeaderCellDef> Proveedor </th>
  <td mat-cell *matCellDef="let row"> {{ row.proveedorNombre }} </td>
</ng-container>


  <!-- Monto -->
  <ng-container matColumnDef="monto">
    <th mat-header-cell *matHeaderCellDef> Monto </th>
    <td mat-cell *matCellDef="let row"> {{ row.monto | number:'1.2-2' }} </td>
  </ng-container>

  <!-- Moneda -->
  <ng-container matColumnDef="moneda">
    <th mat-header-cell *matHeaderCellDef> Moneda </th>
    <td mat-cell *matCellDef="let row"> {{ row.moneda }} </td>
  </ng-container>

  <!-- Observación -->
  <ng-container matColumnDef="observacion">
    <th mat-header-cell *matHeaderCellDef> Observación </th>
    <td mat-cell *matCellDef="let row"> {{ row.observacion }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
