@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto, "Helvetica Neue", sans-serif';
  background-color: #fafafa;
  color: #000;
}

// Aplicar los estilos básicos de todos los componentes Material
@include mat.core();
